<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Students Create</h3>
<p>
    <a th:href="@{/students}">
        Back to student list
    </a>
</p>
<div id="form">
    <form th:action="@{/students/save}" th:object="${student}" method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" th:field="*{name}"/>
        </div>
        <div>
            <label for="address">Address</label>
            <input type="text" id="address" th:field="*{address}"/>
        </div>
        <div>
            <label for="image">Image</label>
            <input type="text" id="image" th:field="*{image}"/>
        </div>
        <input type="submit" value="Save"/>
    </form>
</div>
</body>
</html>